:root {
	--uc-teal: #00C6D7;
	--uc-blue: #00629B;
	--uc-gold: #FFCD00;
	--uc-orange: #FC8900;
	--uc-grey: #B6B1A9;
	--dark-grey: #57595b;
	--large-computer: 30px;
	--large-multiplier: 5vw;
	--large-mobile: 16px;
	--normal-computer: 20px;
	--normal-multiplier: 3vw;
	--normal-mobile: 18px;
	--medium-computer: 18px;
	--medium-multiplier: 2vw;
	--medium-mobile: 16px;
	--small-computer: 16px;
	--small-multiplier: 1vw;
	--small-mobile: 14px;
	--assignmentprompt: "In your writing be honest,  empathetic, and analytical about your experiences. Remember: Each weekly post should have quick notes (bullet points are fine) and a deeper reflection (at least 300 words, but more is fine). The title of each post should include your name, group name, and the week number.";	
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: var(--uc-blue);
}

.navbar .nav-item, .nav-link{
	font-weight: bold;
	font-size: var(--small-mobile);
	color: white;
	display: inline;
	margin-right: 2px;
	margin-left: 2px;
}

.navbar ul{
	display: inline;
}

#myCarousel {
	margin: 10px;
}

.main-content {
	padding: 10px;
	margin: 0;
	width: 100%;
	color: var(--dark-grey);
}

header {
	position: sticky;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	letter-spacing: 2pt;
	color: var(--uc-blue);

	padding: 5px;

	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

.info {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.info img {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.alert {
  color: red;
  font-weight: bolder;
}

.tagline::after {
  content: var(--assignmentprompt);
  color: var(--uc-blue);
  font-style: italic;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 3px solid var(--uc-blue);
}

dt {
	color: var(--uc-orange);
}

#myCarousel img {
	height: 400px;
}

.blocks {
	padding: 10px;
	margin: 10px;
}


.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--uc-blue);
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	margin-top: 10px;
  }

	header {
		font-size:  clamp(var(--large-mobile),var(--large-multiplier),var(--large-computer));
	}

	header h1 {
		font-size:  clamp(var(--normal-mobile),var(--normal-multiplier),var(--normal-computer));
		font-weight: bold;
		text-align: left;
		padding-top: 10px;
		display: inline;
	}

	.main-content h1 {
		font-size:  clamp(var(--normal-mobile),var(--normal-multiplier),var(--normal-computer));
		font-weight: bold;
		color: var(--uc-blue);
		text-align: left;
		margin-bottom:15px;		
	}

	#myCarousel img {
		height: 200px;
	}

	.blocks h1 {
		font-size:  clamp(var(--small-mobile),var(--small-multiplier),var(--small-computer));
		text-align: left;
		font-weight: bold;
		color: var(--uc-blue);
		margin-bottom: 5px;
	}

	h2 {
		font-size:  clamp(var(--medium-mobile),var(--medium-multiplier),var(--medium-computer));
		text-align: left;
		font-weight: bold;
		display: block;
		margin: 0px;
		padding-top: 10px;
	}

	h3 {
		font-size:  clamp(var(--small-mobile),var(--small-multiplier),var(--small-computer));
		text-align: right;
		font-weight: bold;
		display: block;
		margin: 15px;
	}

	p {
		font-size:  clamp(var(--small-mobile),var(--small-multiplier),var(--small-computer));
		text-align: left;
	}

	.blocks {
		font-size: clamp(var(--small-mobile),var(--small-multiplier),var(--small-computer));
		margin: 0px;
		padding: 0px;
	}
