
:root {
	--uc-teal: #00C6D7;
	--uc-blue: #00629B;
	--uc-gold: #FFCD00;
	--uc-orange: #FC8900;
	--uc-grey: #B6B1A9;
	--Huge: 40px;
	--huge: 36px;
	--Large: 36px;
	--large: 24px;
	--Normal: 20px;
	--normal: 18px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--uc-blue);
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	margin-top: 10px;
  }

/* Mobile: banner image above centered text */
@media screen and (max-width: 992px) {
	.main-content {
		padding: 10px;
		margin: 0;
		width: 100%;
	}

	header {
		position: sticky;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--large);
		font-weight: 600;
		letter-spacing: 2pt;
		color: var(--uc-teal);

		padding: 5px;

		margin-top: auto;
		margin-bottom: auto;
		padding-bottom: 10px;

	}

	.times dd {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--normal);
		font-weight: 600;
		line-height: 85%;
		color: var(--uc-blue);

		text-align: center;
	}

	.times dt {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--large);
		font-weight: 600;
		line-height: normal;
		color: var(--uc-blue);

		text-align: center;

		padding-bottom: 10px;
	}


	.info {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}

	.info span.lead-in {
		color: var(--uc-blue);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--large);
		font-weight: 600;
	}

	.info li {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--normal);
	}

	.info img {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	.info .you-will {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

}

/* Large viewport: banner side-by-side image and text */
@media screen and (min-width: 992px) {
	.main-content {
		padding: 10px;
		margin: 0;
		width: 100%;
	}

	header {
		position: sticky;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--Large);
		font-weight: 600;
		letter-spacing: 2pt;
		color: var(--uc-teal);


		margin-top: auto;
		margin-bottom: auto;
		padding-bottom: 10px;
	}

	div.times {
		padding-top: 20px;
		padding-left: 20px;
	}

	.times dd {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--Normal);
		font-weight: 600;
		color: var(--uc-blue);

		text-align: left;
	}
	.times dt {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--Large);
		color: var(--uc-blue);

		text-align: left;
		padding-right: 20px;
		padding-bottom: 10px;
	}


	.info {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}

	.info span.lead-in {
		color: var(--uc-blue);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--Large);
		font-weight: 600;
	}

	.info li {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: var(--Normal);
	}

	.info img {
		padding-top: 10px;
		width: 100%;
		padding-right: 10px;
		max-width: 500px;
		max-height: 333px;
		height: auto;
		/*width: auto;*/
		align-self: center;
	}

	.info .you-will {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

}